{% extends "base.html" %}

{% block head %}
Dharma Seed Order Sheet
{% endblock %}



{% block bodyHead %}
Order Sheet
{% endblock %}


{% block body %}
	
<div class="talklist">


{% if cart.has_items %}


  <form method="post" action="/shop/cart/updatecart/" enctype="x-www-form-urlencoded">
	<table width='100%'>
    	<tr>
            <th align='right'>Price</th>
            <th>Count</th>
        	<th colspan='4'>Description</th>
        </tr>
    {% for item in cart.items %}
        <tr>
        	<td align='right'>${{ item.price }}</td>
            <td align='center'>
            	<input type='text' size='2' name='count_{{item.sku}}' value='{{ item.count }}'/>
            </td>
        	<td colspan='4'>{{ item.teacher }}: <i>{{ item.description }}</i> </td>
        </tr>
    {% endfor %}
    <tr>
        <th align='right'>${{ cart.get_total_price }}</th>
        <th align='center'>{{ cart.get_total_count }}</th>
        <th align='left'><i>Total</i></th>

        <td align='right'>
        {% if cart.returnUrl %}
            <a href="{{ cart.returnUrl }}">Continue Ordering</a>
        {% endif %}
        </td>

        <td width='1%' align='center'><input type="image" src="/media/images/update.gif"></td>
        <td align='left'><a href="/shop/cart/empty/">Clear</a></td>
    </tr>
    </table>

  </form>

<table width='92%'>
<!-- the google checkout button -->
<tr>
  <td align='right'>
    <form method="POST" 
        action="https://sandbox.google.com/cws/v2/Merchant/{{ googleMerchantID }}/checkout">

        <input type="hidden" name="cart" 
            value="{{ googleCart }}">
        <input type="hidden" name="signature" 
            value="{{ googleSig }}">

        <input type="image" name="Google Checkout" alt="Fast checkout through Google"
            src="http://sandbox.google.com/buttons/checkout.gif?merchant_id={{ googleMerchantID }}&w=160&h=43&style=trans&variant=text&loc=en_US"  height="43" width="160">
    </form>
  </td>


<!-- the paypal checkout button -->

  <td valign='top' align='left' width='1%'>
  	<form method='POST' action="https://www.paypal.com/us/cgi-bin/webscr">
        {{ paypalCart }}
    </form>
  </td>
</tr>
</table>


{% else %}
    <p>Your order sheet is empty.</p>

        {% if cart.returnUrl %}
            <a style="color: #B2C5BA;" href="{{ cart.returnUrl }}"><img src="/media/images/continueOrdering.gif"></a>
        {% endif %}

{% endif %}

</div>


{% endblock %}
