{% extends "base.html" %}
{% load pagination_tags %}

{% block head %}
Dharma Talks Available for Listening
{% endblock %}



{% block bodyHead %}
{{ BodyTitle }}
{% endblock %}


{% block body %}

<form id="search" action="" method="get">

<label for="searchbar">

<!--<img style='position:relative; bottom:-5px' height='18' width='20' src="/media/img/admin/icon_searchbox.png" alt="Search" />-->
<img src="/media/img/admin/icon_searchbox.png" alt="Search" />

</label>

<input type="text" size="40" name="q" value="{{searchClause}}" id="searchbar" />
	<input type="submit" value="Find" />
</form>

{% if object_list %}

	{% block pagination %}{% pagination paginator_info %}{% endblock %}

	<div class="talklist">
		{% for talk in object_list %}
			<table width='100%'>
				<tr>
					<td><b>{{ talk.title }}</b> <i>{{ talk.teacher.name }}</i></td>
					<td align='right'>
						<a href="{{talk.audioUrl}}">Download</a>
						<a href="{{talk.streamUrl}}">Stream</a>
						<a href="{{talk.orderUrl}}">Order</a>
					</td>
				</tr>
				{% if talk.description %}
					<tr><td colspan=2>{{talk.description}}</td></tr>
				{% endif %}
				<tr><td colspan=2><br></td></tr>
			</table>
		{% endfor %}
		<p>
	</div>

	{% block pagination2 %}{% pagination paginator_info %}{% endblock %}

{% else %}
    <p>No matching talks are available.</p>
{% endif %}


{% endblock %}
